body{
	width:420px;
	height:92px;
	padding:0;
	margin:0;
	font-family: Poppins;
	background:rgb(177, 209, 214)
}

img{
	max-width:100%;
}
.row{
	margin:0;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
    padding:0;
}
.tabs{
	padding-bottom: 50px;
}
#linked-login-screen{
	padding-bottom: 50px;
}


